<div class="page-header header-filter" filter-color="purple" >
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card card-signup">
          <h2 class="card-title text-center">선거인단 등록</h2>
          <div class="row">
            <div class="col-md-12" style="padding :40px">
              <%= form_for @user do |f| %>
              <div class="form-group label-floating">
                <label class="control-label" for="user_name">이름</label>
                <%= f.text_field :name, class: "form-control" %>
              </div>
              <label class="control-label" for="user_district">주소</label>
              <%=select_tag "user[district_id]", options_from_collection_for_select(District.all, "id", "title"),class: "form-control"%>
              <div class="form-group label-floating">
                <label class="control-label" for="user_address">상세주소</label>
                <%= f.text_field :address, class: "form-control" %>
              </div>
              <div class="form-group label-floating">
                <label class="control-label" for="user_phone">전화번호 (000-0000-0000)</label>
                <%= f.phone_field :phone, class: "form-control" %>
              </div>
              <div class="form-group label-floating">
                <label class="control-label" for="user_phone">생년월일 (주민번호 6자리)</label>
                <%= f.number_field :birth, class: "form-control" %>
              </div>
              <div class="submit text-center">
                <%= f.submit "정보 입력", class: "btn btn-primary btn-raised btn-round" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
